IO_LOC  "b2" 4;
IO_PORT "b2" IO_TYPE=LVCMOS18;

IO_LOC  "b1" 3;
IO_PORT "b1" IO_TYPE=LVCMOS18;

IO_LOC  "clk" 52;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC  "io_cs" 36;
IO_PORT "io_cs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_dc" 39;
IO_PORT "io_dc" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_reset" 25;
IO_PORT "io_reset" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_sdin" 26;
IO_PORT "io_sdin" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_sclk" 27;
IO_PORT "io_sclk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
